{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    {% unless section.settings.container_width == 'normal' %}
      max-width: {{ section.settings.container_width }}rem;
    {% endunless %}
  }
  .content-tabs-{{ section.id }} .content-tabs__buttons {
    font-size: {{ section.settings.buttons_mobile_font_size | divided_by: 10.0 }}rem;
    border-radius: {{ section.settings.button_border_radius | divided_by: 10.0 }}em;
  }
  .content-tabs-{{ section.id }} .content-tabs__buttons--outlined {
    border-radius: calc({{ section.settings.button_border_radius | divided_by: 10.0 }}em + var(--padding));
  }
  .content-tabs-{{ section.id }} .content-tab-button, .content-tabs-{{ section.id }} .content-tab-buttom__active-bg {
    border-radius: {{ section.settings.button_border_radius | divided_by: 10.0 }}em;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    .content-tabs-{{ section.id }} .content-tab-button {
      font-size: {{ section.settings.buttons_desktop_font_size | divided_by: 10.0 }}rem;
    }
  }

  .color-scheme-{{ section.id }}.color-custom {
    --color-background: {{ section.settings.custom_colors_background.red }}, {{ section.settings.custom_colors_background.green }}, {{ section.settings.custom_colors_background.blue }};
    --gradient-background: {% if section.settings.custom_gradient_background != blank %}{{ section.settings.custom_gradient_background }}{% else %}{{ section.settings.custom_colors_background }}{% endif %};
    --color-foreground: {{ section.settings.custom_colors_text.red }}, {{ section.settings.custom_colors_text.green }}, {{ section.settings.custom_colors_text.blue }};
    --color-button: {{ section.settings.custom_colors_solid_button_background.red }}, {{ section.settings.custom_colors_solid_button_background.green }}, {{ section.settings.custom_colors_solid_button_background.blue }};
    --color-button-text: {{ section.settings.custom_colors_solid_button_text.red }}, {{ section.settings.custom_colors_solid_button_text.green }}, {{ section.settings.custom_colors_solid_button_text.blue }};
    --color-base-outline-button-labels: {{ section.settings.custom_colors_outline_button.red }}, {{ section.settings.custom_colors_outline_button.green }}, {{ section.settings.custom_colors_outline_button.blue }};
  }

  .tabs-color-{{ section.id }}.color-custom {
    --color-background: {{ section.settings.custom_tabs_color.red }}, {{ section.settings.custom_tabs_color.green }}, {{ section.settings.custom_tabs_color.blue }};
    --color-foreground: {{ section.settings.custom_tabs_color_label.red }}, {{ section.settings.custom_tabs_color_label.green }}, {{ section.settings.custom_tabs_color_label.blue }};
  }
{%- endstyle -%}

<div class="color-scheme-{{ section.id }} color-{{ section.settings.color_scheme }} gradient content-for-grouping animate-section animate--hidden {{ section.settings.visibility }}">
  {% if section.settings.display_id %}
    <copy-button class='section-id-btn button' data-content="#shopify-section-{{ section.id }}" data-success="false">
      <span class="copy-text">Klik om sectie-ID te kopiëren</span>
      <span class="copy-success">ID succesvol gekopieerd!</span>
    </copy-button>
  {% endif %}
  <div class="page-width section-{{ section.id }}-padding">
    <content-tabs 
      class='content-tabs content-tabs-{{ section.id }}'
      data-animation="{{ section.settings.active_button_animation }}"
    >
      <div class="content-tabs__header content-tabs__header--{{ section.settings.header_layout }}{% if section.settings.desktop_full_size_buttons %} content-tab-buttons--desktop-expand{% endif %}{% if section.settings.mobile_full_size_buttons %} content-tab-buttons--mobile-expand{% endif %}">
        {% assign animate_index = 0 %}
        {% if section.settings.title != blank or section.settings.text != blank %}
          {% assign animate_index = 1 %}
          <div class='content-tabs__heading-content content-rte animate-item animate-item--child index-0'>
            {%- unless section.settings.title == blank -%}
              <h2 class="content-tabs__heading {{ section.settings.heading_size }} title-with-highlight" style='--hightlight-color:{{ section.settings.title_highlight_color }}'>
                {{ section.settings.title }}
              </h2>
            {%- endunless -%}
            {%- unless section.settings.text == blank -%}
              <div class='rte'>
                {{ section.settings.text }}
              </div>
            {%- endunless -%}
          </div>
        {% endif %}
        <div class='content-tabs__buttons flex-center content-tabs__buttons--{{ section.settings.buttons_style }} content-tabs__buttons--animation-{{ section.settings.active_button_animation }} tabs-color-{{ section.id }} color-{{ section.settings.buttons_color_scheme }} animate-item animate-item--child index-{{ animate_index }}'>
          {% for block in section.blocks %}
            <button class='content-tab-button flex-center{% if forloop.index0 == 0 %} content-tab-button--active{% endif %}' data-index="{{ forloop.index0 }}" {{ block.shopify_attributes }}>
              {% if block.settings.btn_icon != blank %}
                {% render 'material-icon', icon: block.settings.btn_icon, filled: block.settings.filled_btn_icon %}
              {%- endif -%}
              <span>{{ block.settings.btn_label }}</span>
            </button>
          {% endfor %}
          {% if section.settings.active_button_animation == 'moving' %}
            <div class='content-tab-buttom__active-bg'>&nbsp</div>
          {% endif %}
        </div>
      </div>
      <div class='content-tabs__tabs animate-item animate-item--child index-{{ animate_index | plus: 1 }}'>
        {% for block in section.blocks %}
          {% liquid
            assign has_media = false
            if block.settings.image != blank or block.settings.video != blank
              assign has_media = true
            endif
          %}
          <div class='content-tab{% if forloop.index0 == 0 %} content-tab--active{% endif %}{% if block.settings.desktop_media_width == 'half' %} content-tab--2-column{% endif %}' data-index="{{ forloop.index0 }}" {{ block.shopify_attributes}}>
            {% if has_media %}
              <div 
                class="content-tab__media media media--transparent ratio global-media-settings" 
                {% if block.settings.video != blank %}
                  style="--ratio-percent: {{ 1 | divided_by: block.settings.video.aspect_ratio | times: 100 }}%"
                {% else %}
                  style="--ratio-percent: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%"
                {% endif %}
              >
                {% if block.settings.video != blank %}
                  {% render 'video-player', block: block %}
                {% else %}
                  {%- capture sizes -%}
                    (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                    (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px))
                  {%- endcapture -%}
                  {{
                    block.settings.image
                    | image_url: width: 1500
                    | image_tag: loading: 'lazy', sizes: sizes, widths: '165, 360, 535, 750, 1070, 1250, 1500'
                  }}
                {% endif %}
              </div>
            {% endif %}
            <div class='content-tab__content content-rte {{ block.settings.desktop_text_alignment }} {{ block.settings.mobile_text_alignment }}{% if block.settings.mobile_media_position == 'media_second' %} mobile-order-first{% endif %}{% if block.settings.desktop_media_position == 'media_second' %} desktop-order-first{% endif %}'>
              {% if block.settings.title != blank %}
                <h2 class="{{ block.settings.heading_size }} title-with-highlight" style='--hightlight-color:{{ block.settings.title_highlight_color }}'>
                  {{ block.settings.title }}
                </h2>
              {% endif %}
              {% if block.settings.text != blank %}
                <div class="rte">
                  {{ block.settings.text }}
                </div>
              {% endif %}
              {%- if block.settings.button_label != blank -%}
                <a
                  {% if block.settings.link == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.link }}"
                  {% endif %}
                  class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}"
                  {{ block.shopify_attributes }}
                >
                  {{ block.settings.button_label | escape }}
                </a>
              {%- endif -%}
              {%- if block.settings.atc_button_label != blank -%}
                {% if block.settings.product == blank %}
                  <button
                    id="SectionAtcBtn-{{ section.id }}"
                    type="button"
                    class="button main-product-atc button--has-spinner"
                    {% if product == blank or product.selected_or_first_available_variant.available == false %}
                      disabled
                    {% endif %}
                  >
                    {{ block.settings.atc_button_label | escape }}
                    <div class="loading-overlay__spinner">
                      <svg
                        aria-hidden="true"
                        focusable="false"
                        class="spinner"
                        viewBox="0 0 66 66"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                      </svg>
                    </div>
                  </button>
                {% else %}
                  {% assign product_form_id = 'section-product-form-'
                    | append: section.id
                    | append: forloop.index
                  %}
                  {% render 'separate-atc-btn',
                    product: block.settings.product,
                    product_form_id: product_form_id,
                    label: block.settings.atc_button_label,
                    skip_cart: block.settings.atc_skip_cart
                  %}
                {% endif %}
              {%- endif -%}
            </div>
          </div>
        {% endfor %}
      </div>
    </content-tabs>
  </div>
</div>

{% schema %}
{
  "name": "Inhoud tabbladen",
  "settings": [
    {
      "type": "checkbox",
      "id": "display_id",
      "label": "Sectie-ID weergeven",
      "info": "ID wordt gebruikt in de sectiegroep om 2 secties samen te voegen. ID kan ook in elke knoplink worden geplaatst en de knop zal naar deze sectie scrollen.",
      "default": false
    },
    {
      "type": "select",
      "id": "visibility",
      "options": [
        {
          "value": "desktop-hidden",
          "label": "Alleen mobiel"
        },
        {
          "value": "mobile-hidden",
          "label": "Alleen desktop"
        },
        {
          "value": "always-display",
          "label": "Alle apparaten"
        }
      ],
      "label": "Weergeven op",
      "default": "always-display"
    },
    {
      "type": "header",
      "content": "Algemeen"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Inhoud tabbladen",
      "label": "Kop",
      "info": "Vet bepaalde woorden om ze met een andere kleur te markeren."
    },
    {
      "type": "color",
      "id": "title_highlight_color",
      "label": "Kleur markering kop",
      "default": "#6D388B"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "Klein"
        },
        {
          "value": "h1",
          "label": "Medium"
        },
        {
          "value": "h0",
          "label": "Groot"
        }
      ],
      "default": "h1",
      "label": "Kopgrootte"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Tekst"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        },
        {
          "value": "background-1",
          "label": "Achtergrond 1"
        },
        {
          "value": "background-2",
          "label": "Achtergrond 2"
        },
        {
          "value": "inverse",
          "label": "Invers"
        },
        {
          "value": "custom",
          "label": "Aangepast"
        }
      ],
      "default": "background-1",
      "label": "Kleurenschema",
      "info": "Aangepast kleurenschema wordt onderaan de sectie-instellingen bewerkt."
    },
    {
      "type": "header",
      "content": "Tabbladen"
    },
    {
      "type": "select",
      "id": "container_width",
      "options": [
        {
          "value": "80",
          "label": "Extra klein"
        },
        {
          "value": "100",
          "label": "Klein"
        },
        {
          "value": "120",
          "label": "Medium"
        },
        {
          "value": "normal",
          "label": "Normaal"
        }
      ],
      "default": "100",
      "label": "Container breedte"
    },
    {
      "type": "select",
      "id": "buttons_color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        },
        {
          "value": "background-1",
          "label": "Achtergrond 1"
        },
        {
          "value": "background-2",
          "label": "Achtergrond 2"
        },
        {
          "value": "inverse",
          "label": "Invers"
        },
        {
          "value": "custom",
          "label": "Aangepast"
        }
      ],
      "default": "accent-1",
      "label": "Kleur tabknoppen",
      "info": "Aangepast kleurenschema wordt onderaan de sectie-instellingen bewerkt."
    },
    {
      "type": "range",
      "id": "button_border_radius",
      "min": 0,
      "max": 40,
      "step": 2,
      "unit": "px",
      "label": "Hoekradius knoppen",
      "default": 6
    },
    {
      "type": "select",
      "id": "buttons_style",
      "options": [
        {
          "value": "outlined",
          "label": "Omlijnd"
        },
        {
          "value": "shadow",
          "label": "Schaduw"
        }
      ],
      "default": "outlined",
      "label": "Stijl knoppencontainer"
    },
    {
      "type": "select",
      "id": "active_button_animation",
      "options": [
        {
          "value": "opacity",
          "label": "Doorzichtigheid"
        },
        {
          "value": "moving",
          "label": "Bewegend"
        }
      ],
      "default": "moving",
      "label": "Type actieve knopanimatie",
      "info": "Kiezen voor \"Bewegend\" wordt alleen aanbevolen als al je knoppen in één rij passen."
    },
    {
      "type": "header",
      "content": "Desktop"
    },
    {
      "type": "select",
      "id": "header_layout",
      "options": [
        {
          "value": "vertical",
          "label": "Verticaal"
        },
        {
          "value": "horizontal",
          "label": "Horizontaal"
        }
      ],
      "default": "horizontal",
      "label": "Desktop koplay-out"
    },
    {
      "type": "range",
      "id": "buttons_desktop_font_size",
      "min": 14,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Lettergrootte knoppen",
      "default": 15
    },
    {
      "type": "checkbox",
      "id": "desktop_full_size_buttons",
      "label": "Knoppen naar volle breedte uitbreiden",
      "default": false,
      "info": "Eventueel worden alle knoppen uitgebreid om de volledige containerbreedte te passen. Alleen aanbevolen als al je knoppen in één rij passen."
    },
    {
      "type": "header",
      "content": "Mobiel"
    },
    {
      "type": "range",
      "id": "buttons_mobile_font_size",
      "min": 8,
      "max": 25,
      "step": 1,
      "unit": "px",
      "label": "Lettergrootte knoppen",
      "default": 13
    },
    {
      "type": "checkbox",
      "id": "mobile_full_size_buttons",
      "label": "Knoppen naar volle breedte uitbreiden",
      "default": true,
      "info": "Eventueel worden alle knoppen uitgebreid om de volledige containerbreedte te passen. Alleen aanbevolen als al je knoppen in één rij passen."
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "header",
      "content": "Aangepast kleurenschema",
      "info": "Toegepast als de instelling Kleurenschema is ingesteld op Aangepast."
    },
    {
      "type": "color",
      "id": "custom_colors_background",
      "default": "#FFFFFF",
      "label": "Achtergrondkleur"
    },
    {
      "type": "color_background",
      "id": "custom_gradient_background",
      "label": "Gradient achtergrond",
      "info": "Als toegevoegd, vervangt het de achtergrondkleur waar van toepassing."
    },
    {
      "type": "color",
      "id": "custom_colors_text",
      "default": "#2E2A39",
      "label": "Tekst"
    },
    {
      "type": "color",
      "id": "custom_colors_solid_button_background",
      "default": "#dd1d1d",
      "label": "Achtergrond vaste knop"
    },
    {
      "type": "color",
      "id": "custom_colors_solid_button_text",
      "default": "#ffffff",
      "label": "Label vaste knop"
    },
    {
      "type": "color",
      "id": "custom_colors_outline_button",
      "default": "#dd1d1d",
      "label": "Omlijning knop"
    },
    {
      "type": "header",
      "content": "Aangepaste kleur tabknoppen",
      "info": "Toegepast als de instelling Kleur tabknoppen is ingesteld op Aangepast."
    },
    {
      "type": "color",
      "id": "custom_tabs_color",
      "default": "#000000",
      "label": "Kleur tabknoppen & container randkleur"
    },
    {
      "type": "color",
      "id": "custom_tabs_color_label",
      "default": "#FFFFFF",
      "label": "Kleur actieve knoplabel"
    }
  ],
  "blocks": [
    {
      "type": "tab",
      "name": "Tab",
      "settings": [
        {
          "type": "header",
          "content": "Tab knop"
        },
        {
          "type": "inline_richtext",
          "id": "btn_label",
          "label": "Tab knop label",
          "default": "Tab knop"
        },
        {
          "type": "text",
          "id": "btn_icon",
          "label": "Icoon",
          "info": "[Bekijk alle beschikbare iconen](https:\/\/fonts.google.com\/icons?icon.set=Material+Symbols&icon.platform=web)."
        },
        {
          "type": "checkbox",
          "id": "filled_btn_icon",
          "default": false,
          "label": "Vervulde icoon"
        },
        {
          "type": "header",
          "content": "Media"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Afbeelding"
        },
        {
          "type": "header",
          "content": "Of"
        },
        {
          "type": "video",
          "id": "video",
          "label": "Video"
        },
        {
          "type": "checkbox",
          "id": "loop",
          "label": "Video herhalen",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "muted_autoplay",
          "label": "Stille autoplay",
          "info": "Gebruik deze optie in plaats van GIF's toe te voegen. De kwaliteit is beter en de laadtijd is veel sneller. Als je deze optie uitschakelt, wordt een afspeelknop weergegeven."
        },
        {
          "type": "select",
          "id": "btn_color_scheme",
          "options": [
            {
              "value": "accent-1",
              "label": "t:sections.all.colors.accent_1.label"
            },
            {
              "value": "accent-2",
              "label": "t:sections.all.colors.accent_2.label"
            },
            {
              "value": "background-1",
              "label": "t:sections.all.colors.background_1.label"
            },
            {
              "value": "background-2",
              "label": "t:sections.all.colors.background_2.label"
            },
            {
              "value": "inverse",
              "label": "t:sections.all.colors.inverse.label"
            }
          ],
          "default": "accent-1",
          "label": "Kleurenschema afspeelknop"
        },
        {
          "type": "checkbox",
          "id": "btn_animation",
          "label": "Schakel knop ripple-animatie in",
          "default": false
        },
        {
          "type": "header",
          "content": "Inhoud"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "default": "Tab kop",
          "label": "Kop",
          "info": "Vet bepaalde woorden om ze met een andere kleur te markeren."
        },
        {
          "type": "color",
          "id": "title_highlight_color",
          "label": "Kleur markering kop",
          "default": "#6D388B"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h3",
              "label": "Extra klein"
            },
            {
              "value": "h2",
              "label": "Klein"
            },
            {
              "value": "h1",
              "label": "Medium"
            },
            {
              "value": "h0",
              "label": "Groot"
            }
          ],
          "default": "h1",
          "label": "Kopgrootte"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Tekst",
          "default": "<p>Gebruik deze sectie om verschillende voordelen of verschillende producten weer te geven die zijn gesorteerd op klikbare tabbladen.</p>"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Knoplabel",
          "label": "t:sections.slideshow.blocks.slide.settings.button_label.label",
          "info": "t:sections.slideshow.blocks.slide.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.slideshow.blocks.slide.settings.link.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "label": "t:sections.slideshow.blocks.slide.settings.secondary_style.label",
          "default": false
        },
        {
          "type": "text",
          "id": "atc_button_label",
          "label": "Voeg toe aan winkelwagentje knoplabel",
          "info": "Laat het label leeg om de Voeg toe aan winkelwagentje knop te verbergen."
        },
        {
          "type": "checkbox",
          "id": "atc_skip_cart",
          "label": "ATC Aangepast product overslaan winkelwagentje"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Voeg toe aan winkelwagentje product",
          "info": "Als leeg, wordt het product van de productpagina aan het winkelwagentje toegevoegd (met de geselecteerde variant en hoeveelheid)."
        },
        {
          "type": "header",
          "content": "Desktop lay-out"
        },
        {
          "type": "select",
          "id": "desktop_media_width",
          "options": [
            {
              "value": "half",
              "label": "De helft van het tabblad"
            },
            {
              "value": "full",
              "label": "Volledige breedte van het tabblad"
            }
          ],
          "default": "half",
          "label": "Desktop media (afbeelding/video) breedte"
        },
        {
          "type": "select",
          "id": "desktop_media_position",
          "options": [
            {
              "value": "media_first",
              "label": "Media eerst"
            },
            {
              "value": "media_second",
              "label": "Media tweede"
            }
          ],
          "default": "media_first",
          "label": "Desktop media plaatsing"
        },
        {
          "type": "select",
          "id": "desktop_text_alignment",
          "options": [
            {
              "value": "left",
              "label": "Links"
            },
            {
              "value": "center",
              "label": "Centrum"
            },
            {
              "value": "right",
              "label": "Rechts"
            }
          ],
          "default": "center",
          "label": "Desktop tekstuitlijning"
        },
        {
          "type": "header",
          "content": "Mobiele lay-out"
        },
        {
          "type": "select",
          "id": "mobile_media_position",
          "options": [
            {
              "value": "media_first",
              "label": "Media eerst"
            },
            {
              "value": "media_second",
              "label": "Media tweede"
            }
          ],
          "default": "media_first",
          "label": "Mobiele media plaatsing"
        },
        {
          "type": "select",
          "id": "mobile_text_alignment",
          "options": [
            {
              "value": "mobile-left",
              "label": "Links"
            },
            {
              "value": "mobile-center",
              "label": "Centrum"
            },
            {
              "value": "mobile-right",
              "label": "Rechts"
            }
          ],
          "default": "mobile-center",
          "label": "Mobiele tekstuitlijning"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Inhoud tabbladen",
      "blocks": [
        {
          "type": "tab"
        },
        {
          "type": "tab"
        },
        {
          "type": "tab"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
