{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .color-scheme-{{ section.id }}.color-custom {
    --color-background: {{ section.settings.custom_colors_background.red }}, {{ section.settings.custom_colors_background.green }}, {{ section.settings.custom_colors_background.blue }};
    --gradient-background: {% if section.settings.custom_gradient_background != blank %}{{ section.settings.custom_gradient_background }}{% else %}{{ section.settings.custom_colors_background }}{% endif %};
    --color-foreground: {{ section.settings.custom_colors_text.red }}, {{ section.settings.custom_colors_text.green }}, {{ section.settings.custom_colors_text.blue }};
    --color-button: {{ section.settings.custom_colors_solid_button_background.red }}, {{ section.settings.custom_colors_solid_button_background.green }}, {{ section.settings.custom_colors_solid_button_background.blue }};
    --color-button-text: {{ section.settings.custom_colors_solid_button_text.red }}, {{ section.settings.custom_colors_solid_button_text.green }}, {{ section.settings.custom_colors_solid_button_text.blue }};
    --color-base-outline-button-labels: {{ section.settings.custom_colors_outline_button.red }}, {{ section.settings.custom_colors_outline_button.green }}, {{ section.settings.custom_colors_outline_button.blue }};
  }

  .section-color-scheme-{{ section.id }}.color-custom {
    --color-background: {{ section.settings.custom_section_colors_background.red }}, {{ section.settings.custom_section_colors_background.green }}, {{ section.settings.custom_section_colors_background.blue }};
    --gradient-background: {% if section.settings.custom_section_gradient_background != blank %}{{ section.settings.custom_section_gradient_background }}{% else %}{{ section.settings.custom_section_colors_background }}{% endif %};
  }
{%- endstyle -%}

{%- liquid
  if section.settings.section_color_scheme == section.settings.color_scheme
    assign no_content_background = true
  endif
  if section.settings.section_color_scheme == 'custom' and section.settings.color_scheme == 'custom'
    unless section.settings.custom_colors_background == section.settings.custom_section_colors_background
      assign no_content_background = false
    endunless
  endif

  if settings.text_boxes_shadow_opacity == 0 and settings.text_boxes_border_thickness == 0 or settings.text_boxes_border_opacity == 0
    assign no_content_styles = true
  endif

  if no_content_background and no_content_styles
    assign padding_class = ' collapse-padding'
    assign same_bgs = true
  endif
-%}

<div class="section-color-scheme-{{ section.id }} color-{{ section.settings.section_color_scheme }} gradient content-for-grouping animate-section animate--hidden {{ section.settings.visibility }}">
  {% if section.settings.display_id %}
    <copy-button class="section-id-btn button" data-content="#shopify-section-{{ section.id }}" data-success="false">
      <span class="copy-text">Klik om sectie-ID te kopiëren</span>
      <span class="copy-success">ID succesvol gekopieerd!</span>
    </copy-button>
  {% endif %}
  <div class="image-with-text image-with-text--{{ section.settings.content_layout }} image-with-text--mobile-{{ section.settings.mobile_direction }} page-width isolate{% if settings.text_boxes_border_thickness > 0 and settings.text_boxes_border_opacity > 0 and settings.media_border_thickness > 0 and settings.media_border_opacity > 0 %} collapse-borders{% endif %}{% unless section.settings.color_scheme == 'background-1' and settings.media_border_thickness > 0 and settings.text_boxes_shadow_opacity == 0 and settings.text_boxes_border_thickness == 0 or settings.text_boxes_border_opacity == 0 %} collapse-corners{% endunless %}{% if same_bgs %} same-colors{% else %} different-colors{% endif %}{{ padding_class }} section-{{ section.id }}-padding">
    <div class="image-with-text__grid grid grid--gapless grid--1-col grid--{% if section.settings.desktop_image_width == 'medium' %}2-col-tablet{% else %}3-col-tablet{% endif %}{% if section.settings.layout == 'text_first' %} image-with-text__grid--reverse{% endif %} animate-item">
      <div class="image-with-text__media-item image-with-text__media-item--{{ section.settings.desktop_image_width }} image-with-text__media-item--{{ section.settings.desktop_content_position }}{% if section.settings.mobile_full_media_width %} image-with-text__media--mobile-full{% endif %} grid__item">
        <div
          class="image-with-text__media image-with-text__media--{{ section.settings.height }} gradient color-scheme-{{ section.id }} color-{{ section.settings.color_scheme }} global-media-settings {% if section.settings.image != blank or section.settings.video != blank %}media{% else %}image-with-text__media--placeholder placeholder{% endif %}"
          {% if section.settings.height == 'adapt' and section.settings.video != blank %}
            style="padding-bottom: {{ 1 | divided_by: section.settings.video.aspect_ratio | times: 100 }}%;"
          {% elsif section.settings.height == 'adapt' and section.settings.image != blank %}
            style="padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;"
          {% endif %}
        >
          {%- if section.settings.video != blank -%}
            <internal-video data-autoplay="true">
              <video width="100%" height="auto" preload="metadata" poster="{{ section.settings.video.preview_image | image_url }}" loop muted playsinline disablepictureinpicture>
                {% for source in section.settings.video.sources %}
                  <source
                    data-src="{{ source.url }}"
                    type="{{ source.mime_type }}"
                  >
                {% endfor %}
              </video>
            </internal-video>
          {%- elsif section.settings.image != blank -%}
            {%- capture sizes -%}
              (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
              (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / {{ section.settings.mobile_image_quanlity }})
            {%- endcapture -%}
            {{
              section.settings.image
              | image_url: width: 1500
              | image_tag: loading: 'lazy', sizes: sizes, widths: '165, 360, 535, 750, 1070, 1500'
            }}
          {%- else -%}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
        </div>
      </div>
      <div class="image-with-text__text-item grid__item">
        <div
          id="ImageWithText--{{ section.id }}"
          class="image-with-text__content image-with-text__content--{{ section.settings.desktop_content_position }} image-with-text__content--desktop-{{ section.settings.desktop_content_alignment }} image-with-text__content--mobile-{{ section.settings.mobile_content_alignment }} image-with-text__content--{{ section.settings.height }} gradient color-{{ section.settings.color_scheme }} color-scheme-{{ section.id }} content-container"
        >
          {%- for block in section.blocks -%}
            {% case block.type %}
              {%- when 'heading' -%}
                <h2 class="image-with-text__heading {{ block.settings.heading_size }} title-with-highlight" style='--hightlight-color:{{ block.settings.title_highlight_color }}' {{ block.shopify_attributes }}>
                  {{ block.settings.title }}
                </h2>
              {% when 'rating_stars' %}
                {% render 'rating-stars-block', block: block, margins: false, block_attributes: true %}
              {%- when 'caption' -%}
                <p
                  class="image-with-text__text image-with-text__text--caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }} {{ block.settings.text_style }}"
                  {{ block.shopify_attributes }}
                >
                  {{ block.settings.caption }}
                </p>
              {%- when 'text' -%}
                <div class="image-with-text__text rte {{ block.settings.text_style }}" {{ block.shopify_attributes }}>
                  {{ block.settings.text }}
                </div>
              {%- when 'button' -%}
                {%- if block.settings.button_label != blank -%}
                  <a
                    {% if block.settings.button_link == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link }}"
                    {% endif %}
                    class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}"
                    {{ block.shopify_attributes }}
                  >
                    {{ block.settings.button_label | escape }}
                  </a>
                {%- endif -%}
              {% when 'atc_button' %}
                {% if block.settings.atc_product == blank %}
                  <button
                    id="SectionAtcBtn-{{ section.id }}"
                    type="button"
                    class="button main-product-atc button--has-spinner"
                    {% if product.selected_or_first_available_variant.available == false or quantity_rule_soldout %}
                      disabled
                    {% endif %}
                    {{ block.shopify_attributes }}
                  >
                    {{ block.settings.button_label }}
                    <div class="loading-overlay__spinner">
                      <svg
                        aria-hidden="true"
                        focusable="false"
                        class="spinner"
                        viewBox="0 0 66 66"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                      </svg>
                    </div>
                  </button>
                {% else %}
                  {% assign product_form_id = 'section-product-form-' | append: section.id | append: block.id %}
                  {% render 'separate-atc-btn',
                    product: block.settings.atc_product,
                    product_form_id: product_form_id,
                    label: block.settings.button_label,
                    skip_cart: block.settings.atc_skip_cart
                  %}
                {% endif %}
              {%- when 'text_with_icon' -%}
                {% render 'text-with-icon-block', block: block, mobile_align: true, block_attributes: true %}
              {% when 'image' %}
                <div
                  class="product-info__image-block product-info__image-block--mobile-alignment"
                  style="--image-width:{{ block.settings.width }}%;--image-alignment:{{ block.settings.alignment }};--mobile-image-alignment:{{ block.settings.mobile_alignment }};--border-radius:{{ block.settings.border_radius | divided_by: 10.0 }}rem;"
                >
                  {% if block.settings.image != blank %}
                    <div class="media media--transparent ratio" style="--ratio-percent: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%">
                      {%- capture sizes -%}
                        (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 | times: block.settings.width | divided_by: 100.0 }}px,
                        (min-width: 750px) calc(({{ block.settings.width }}vw - 130px) / 2), calc(({{ block.settings.width }}vw - 50px) / 2)
                      {%- endcapture -%}
                      {{
                        block.settings.image
                        | image_url: width: 1500
                        | image_tag: loading: 'lazy', sizes: sizes, widths: '165, 360, 535, 750, 1070, 1500'
                      }}
                    </div>
                  {% else %}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                  {% endif %}
                </div>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.image-with-text.name",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "display_id",
      "label": "Sectie-ID weergeven",
      "info": "ID wordt gebruikt in de sectiegroep om 2 secties samen te voegen. ID kan ook in elke knoplink worden geplaatst en de knop zal naar deze sectie scrollen.",
      "default": false
    },
    {
      "type": "select",
      "id": "visibility",
      "options": [
        {
          "value": "desktop-hidden",
          "label": "Alleen mobiel"
        },
        {
          "value": "mobile-hidden",
          "label": "Alleen desktop"
        },
        {
          "value": "always-display",
          "label": "Alle apparaten"
        }
      ],
      "label": "Weergeven op",
      "default": "always-display"
    },
    {
      "type": "header",
      "content": "Media"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-with-text.settings.image.label"
    },
    {
      "type": "header",
      "content": "Of"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Video",
      "info": "Gebruik autoplay mp4 in plaats van GIFs & geanimeerde WEBPs."
    },
    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "adapt",
          "label": "Aanpassen aan media"
        },
        {
          "value": "small",
          "label": "Klein"
        },
        {
          "value": "medium",
          "label": "Middel"
        },
        {
          "value": "large",
          "label": "Groot"
        }
      ],
      "default": "adapt",
      "label": "Media hoogte"
    },
    {
      "type": "header",
      "content": "Container"
    },
    {
      "type": "select",
      "id": "content_layout",
      "options": [
        {
          "value": "no-overlap",
          "label": "t:sections.image-with-text.settings.content_layout.options__1.label"
        },
        {
          "value": "overlap",
          "label": "t:sections.image-with-text.settings.content_layout.options__2.label"
        }
      ],
      "default": "no-overlap",
      "label": "t:sections.image-with-text.settings.content_layout.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        },
        {
          "value": "background-1",
          "label": "Achtergrond 1"
        },
        {
          "value": "background-2",
          "label": "Achtergrond 2"
        },
        {
          "value": "inverse",
          "label": "Omgekeerd"
        },
        {
          "value": "custom",
          "label": "Aangepast"
        }
      ],
      "default": "background-1",
      "label": "Inhoud kleurenschema",
      "info": "Aangepast kleurenschema wordt bewerkt onderaan de sectie-instellingen."
    },
    {
      "type": "select",
      "id": "section_color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        },
        {
          "value": "background-1",
          "label": "Achtergrond 1"
        },
        {
          "value": "background-2",
          "label": "Achtergrond 2"
        },
        {
          "value": "inverse",
          "label": "Omgekeerd"
        },
        {
          "value": "custom",
          "label": "Aangepast"
        }
      ],
      "default": "background-1",
      "label": "Sectie kleurenschema",
      "info": "Aangepast kleurenschema wordt bewerkt onderaan de sectie-instellingen."
    },
    {
      "type": "header",
      "content": "Desktop lay-out"
    },
    {
      "type": "select",
      "id": "desktop_image_width",
      "options": [
        {
          "value": "small",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-with-text.settings.desktop_image_width.label",
      "info": "t:sections.image-with-text.settings.desktop_image_width.info"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "image_first",
          "label": "t:sections.image-with-text.settings.layout.options__1.label"
        },
        {
          "value": "text_first",
          "label": "t:sections.image-with-text.settings.layout.options__2.label"
        }
      ],
      "default": "image_first",
      "label": "t:sections.image-with-text.settings.layout.label",
      "info": "t:sections.image-with-text.settings.layout.info"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "middle",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "top",
      "label": "t:sections.image-with-text.settings.desktop_content_position.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.image-with-text.settings.desktop_content_alignment.label"
    },
    {
      "type": "header",
      "content": "Mobiele lay-out"
    },
    {
      "type": "checkbox",
      "id": "mobile_full_media_width",
      "label": "Volledige media breedte",
      "default": false
    },
    {
      "type": "select",
      "id": "mobile_direction",
      "options": [
        {
          "value": "normal",
          "label": "Media eerst"
        },
        {
          "value": "reverse",
          "label": "Media tweede"
        }
      ],
      "default": "normal",
      "label": "Mobiele media positie"
    },
    {
      "type": "select",
      "id": "mobile_image_quanlity",
      "options": [
        {
          "value": "2",
          "label": "Standaard"
        },
        {
          "value": "1",
          "label": "Verbeterd"
        }
      ],
      "default": "2",
      "label": "Mobiele beeldkwaliteit",
      "info": "Voor de meeste afbeeldingen is Standaard een goede balans tussen kwaliteit en prestaties. Maar als uw afbeelding het vereist, selecteer dan Verbeterd."
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.image-with-text.settings.mobile_content_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "header",
      "content": "Aangepast inhoud kleurenschema",
      "info": "Toegepast als de instelling Inhoud kleurenschema is ingesteld op Aangepast."
    },
    {
      "type": "color",
      "id": "custom_colors_background",
      "default": "#2E2A39",
      "label": "Achtergrondkleur"
    },
    {
      "type": "color_background",
      "id": "custom_gradient_background",
      "label": "Gradiënt achtergrond",
      "info": "Indien toegevoegd, vervangt het de achtergrondkleur waar van toepassing."
    },
    {
      "type": "color",
      "id": "custom_colors_text",
      "default": "#FFFFFF",
      "label": "Tekst"
    },
    {
      "type": "color",
      "id": "custom_colors_solid_button_background",
      "default": "#dd1d1d",
      "label": "Achtergrond van vaste knop"
    },
    {
      "type": "color",
      "id": "custom_colors_solid_button_text",
      "default": "#ffffff",
      "label": "Label van vaste knop"
    },
    {
      "type": "color",
      "id": "custom_colors_outline_button",
      "default": "#dd1d1d",
      "label": "Omlijning knop"
    },
    {
      "type": "header",
      "content": "Aangepast sectie kleurenschema",
      "info": "Toegepast als de instelling Sectie kleurenschema is ingesteld op Aangepast."
    },
    {
      "type": "color",
      "id": "custom_section_colors_background",
      "default": "#FFFFFF",
      "label": "Achtergrondkleur"
    },
    {
      "type": "color_background",
      "id": "custom_section_gradient_background",
      "label": "Gradiënt achtergrond",
      "info": "Indien toegevoegd, vervangt het de achtergrondkleur waar van toepassing."
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-with-text.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "default": "Afbeelding met tekst",
          "label": "Kop",
          "info": "Vetgedrukte woorden om ze met een andere kleur te markeren."
        },
        {
          "type": "color",
          "id": "title_highlight_color",
          "label": "Kop markeerkleur",
          "default": "#6D388B"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "Klein"
            },
            {
              "value": "h1",
              "label": "Middel"
            },
            {
              "value": "h0",
              "label": "Groot"
            }
          ],
          "default": "h1",
          "label": "Kop grootte"
        }
      ]
    },
    {
      "type": "rating_stars",
      "name": "Beoordelingssterren",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "rating",
          "label": "Beoordeling",
          "min": 1,
          "max": 5,
          "step": 0.1,
          "default": 4.8
        },
        {
          "type": "color",
          "id": "star_color",
          "default": "#ffcc00",
          "label": "Sterren kleur"
        },
        {
          "type": "select",
          "id": "bg_stars_style",
          "options": [
            {
              "value": "outlined",
              "label": "Omlijnd"
            },
            {
              "value": "full",
              "label": "Vol"
            }
          ],
          "label": "Achtergrond sterren stijl",
          "default": "full"
        },
        {
          "type": "color",
          "id": "bg_star_color",
          "default": "#ececec",
          "label": "Achtergrond sterren kleur"
        },
        {
          "type": "inline_richtext",
          "id": "label",
          "label": "Tekst",
          "default": "(xxxx Beoordelingen)"
        },
        {
          "type": "range",
          "id": "size",
          "min": 10,
          "max": 24,
          "step": 1,
          "unit": "px",
          "default": 16,
          "label": "Tekst grootte"
        },
        {
          "type": "text",
          "id": "scroll_id",
          "label": "ID van de sectie om naar te scrollen"
        }
      ]
    },
    {
      "type": "caption",
      "name": "t:sections.image-with-text.blocks.caption.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "Voeg een tagline toe",
          "label": "t:sections.image-with-text.blocks.caption.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "t:sections.image-with-text.blocks.caption.settings.text_style.options__1.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.image-with-text.blocks.caption.settings.text_style.options__2.label"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "t:sections.image-with-text.blocks.caption.settings.text_style.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-with-text.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Combineer tekst met een afbeelding om je gekozen product, collectie of blogpost te benadrukken. Voeg details toe over beschikbaarheid, stijl of geef zelfs een recensie.</p>",
          "label": "t:sections.image-with-text.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-with-text.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-with-text.blocks.text.settings.text_style.options__2.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-with-text.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "text_with_icon",
      "name": "Tekst met icoon",
      "settings": [
        {
          "type": "header",
          "content": "Tekst"
        },
        {
          "type": "range",
          "id": "mobile_text_size",
          "min": 8,
          "max": 24,
          "step": 1,
          "unit": "px",
          "default": 14,
          "label": "Mobiele tekst grootte"
        },
        {
          "type": "range",
          "id": "desktop_text_size",
          "min": 10,
          "max": 30,
          "step": 1,
          "unit": "px",
          "default": 16,
          "label": "Desktop tekst grootte"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Tekst uitlijning",
          "options": [
            {
              "value": "left",
              "label": "Links"
            },
            {
              "value": "center",
              "label": "Midden"
            },
            {
              "value": "right",
              "label": "Rechts"
            }
          ],
          "default": "left"
        },
        {
          "type": "select",
          "id": "mobile_alignment",
          "label": "Mobiele tekst uitlijning",
          "options": [
            {
              "value": "left",
              "label": "Links"
            },
            {
              "value": "center",
              "label": "Midden"
            },
            {
              "value": "right",
              "label": "Rechts"
            }
          ],
          "default": "left"
        },
        {
          "type": "color",
          "id": "text_color",
          "default": "#121212",
          "label": "Tekstkleur"
        },
        {
          "type": "inline_richtext",
          "id": "text_1",
          "default": "Tekst met icoon",
          "label": "Tekst #1"
        },
        {
          "type": "inline_richtext",
          "id": "text_2",
          "default": "Tekst met icoon",
          "label": "Tekst #2"
        },
        {
          "type": "inline_richtext",
          "id": "text_3",
          "default": "Tekst met icoon",
          "label": "Tekst #3"
        },
        {
          "type": "header",
          "content": "Iconen"
        },
        {
          "type": "range",
          "id": "icon_scale",
          "min": 100,
          "max": 200,
          "step": 5,
          "default": 120,
          "unit": "%",
          "label": "Icoonschaal",
          "info": "Relatief ten opzichte van tekstgrootte"
        },
        {
          "type": "color",
          "id": "icon_color",
          "default": "#121212",
          "label": "Icoonkleur"
        },
        {
          "type": "text",
          "id": "icon_1",
          "default": "check_circle",
          "label": "Icoon #1",
          "info": "[Bekijk alle beschikbare iconen](https:\/\/fonts.google.com\/icons?icon.set=Material+Symbols&icon.platform=web)."
        },
        {
          "type": "checkbox",
          "id": "filled_icon_1",
          "default": false,
          "label": "Ingevuld icoon #1"
        },
        {
          "type": "image_picker",
          "id": "custom_icon_1",
          "label": "Aangepast icoon #1"
        },
        {
          "type": "text",
          "id": "icon_2",
          "default": "check_circle",
          "label": "Icoon #2",
          "info": "[Bekijk alle beschikbare iconen](https:\/\/fonts.google.com\/icons?icon.set=Material+Symbols&icon.platform=web)."
        },
        {
          "type": "checkbox",
          "id": "filled_icon_2",
          "default": false,
          "label": "Ingevuld icoon #2"
        },
        {
          "type": "image_picker",
          "id": "custom_icon_2",
          "label": "Aangepast icoon #2"
        },
        {
          "type": "text",
          "id": "icon_3",
          "default": "check_circle",
          "label": "Icoon #3",
          "info": "[Bekijk alle beschikbare iconen](https:\/\/fonts.google.com\/icons?icon.set=Material+Symbols&icon.platform=web)."
        },
        {
          "type": "checkbox",
          "id": "filled_icon_3",
          "default": false,
          "label": "Ingevuld icoon #3"
        },
        {
          "type": "image_picker",
          "id": "custom_icon_3",
          "label": "Aangepast icoon #3"
        },
        {
          "type": "header",
          "content": "Container"
        },
        {
          "type": "select",
          "id": "width",
          "options": [
            {
              "value": "fit-content",
              "label": "Pas tekst aan"
            },
            {
              "value": "100%",
              "label": "Volledig"
            }
          ],
          "default": "100%",
          "label": "Breedte"
        },
        {
          "type": "select",
          "id": "direction",
          "options": [
            {
              "value": "horizontal",
              "label": "Horizontaal"
            },
            {
              "value": "vertical",
              "label": "Verticaal"
            }
          ],
          "default": "vertical",
          "label": "Stapeling richting",
          "info": "Toegepast wanneer meerdere teksten zijn toegevoegd."
        },
        {
          "type": "range",
          "id": "column_gap",
          "min": 0,
          "max": 6,
          "step": 0.5,
          "label": "Stapeling afstand",
          "default": 3
        },
        {
          "type": "checkbox",
          "id": "enable_bg",
          "default": false,
          "label": "Achtergrond inschakelen",
          "info": "De volgende instellingen worden toegepast wanneer deze optie is ingeschakeld."
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Achtergrondkleur",
          "default": "#F3F3F3"
        },
        {
          "type": "range",
          "id": "corner_radius",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "%",
          "label": "t:settings_schema.global.settings.corner_radius.label",
          "default": 40,
          "info": "Relatief ten opzichte van lettergrootte"
        },
        {
          "type": "range",
          "id": "padding",
          "min": 1,
          "max": 5,
          "step": 0.5,
          "label": "Opvulling",
          "default": 3
        },
        {
          "type": "range",
          "id": "border_size",
          "min": 0,
          "max": 5,
          "step": 1,
          "label": "Randdikte",
          "unit": "px",
          "default": 0
        },
        {
          "type": "color",
          "id": "border_color",
          "label": "Randkleur",
          "default": "#B7B7B7"
        }
      ]
    },
    {
      "type": "image",
      "name": "Afbeelding",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Afbeelding"
        },
        {
          "type": "range",
          "id": "width",
          "min": 0,
          "max": 100,
          "step": 10,
          "unit": "%",
          "label": "Breedte",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Uitlijning",
          "options": [
            {
              "value": "flex-start",
              "label": "Links"
            },
            {
              "value": "center",
              "label": "Midden"
            },
            {
              "value": "flex-end",
              "label": "Rechts"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "mobile_alignment",
          "label": "Mobiele uitlijning",
          "options": [
            {
              "value": "flex-start",
              "label": "Links"
            },
            {
              "value": "center",
              "label": "Midden"
            },
            {
              "value": "flex-end",
              "label": "Rechts"
            }
          ],
          "default": "center"
        },
        {
          "type": "range",
          "id": "border_radius",
          "min": 0,
          "max": 40,
          "step": 2,
          "unit": "px",
          "label": "Hoekradius",
          "default": 0
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.image-with-text.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Knoplabel",
          "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
          "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        }
      ]
    },
    {
      "type": "atc_button",
      "name":"ATC knop",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "Knoplabel",
          "default": "Toevoegen aan winkelwagen"
        },
        {
          "type": "product",
          "id": "atc_product",
          "label": "ATC Aangepast product",
          "info": "BELANGRIJK: Als leeg, zal de knop het hoofdproduct VAN DE PRODUCTPAGINA aan de winkelwagen toevoegen (INCLUSIEF de geselecteerde variant/hoeveelheid, upsells etc.)"
        },
        {
          "type": "checkbox",
          "id": "atc_skip_cart",
          "label": "ATC Aangepast product winkelwagen overslaan"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-with-text.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
