{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .color-scheme-{{ section.id }}.color-custom {
    --color-background: {{ section.settings.custom_colors_background.red }}, {{ section.settings.custom_colors_background.green }}, {{ section.settings.custom_colors_background.blue }};
    --gradient-background: {% if section.settings.custom_gradient_background != blank %}{{ section.settings.custom_gradient_background }}{% else %}{{ section.settings.custom_colors_background }}{% endif %};
    --color-foreground: {{ section.settings.custom_colors_text.red }}, {{ section.settings.custom_colors_text.green }}, {{ section.settings.custom_colors_text.blue }};
    --color-button: {{ section.settings.custom_colors_solid_button_background.red }}, {{ section.settings.custom_colors_solid_button_background.green }}, {{ section.settings.custom_colors_solid_button_background.blue }};
    --color-button-text: {{ section.settings.custom_colors_solid_button_text.red }}, {{ section.settings.custom_colors_solid_button_text.green }}, {{ section.settings.custom_colors_solid_button_text.blue }};
    --color-base-outline-button-labels: {{ section.settings.custom_colors_outline_button.red }}, {{ section.settings.custom_colors_outline_button.green }}, {{ section.settings.custom_colors_outline_button.blue }};
  }

  .cards-color-scheme-{{ section.id }}.color-custom {
    --color-background: {{ section.settings.custom_cards_colors_background.red }}, {{ section.settings.custom_cards_colors_background.green }}, {{ section.settings.custom_cards_colors_background.blue }};
    --gradient-background: {% if section.settings.custom_cards_gradient_background != blank %}{{ section.settings.custom_cards_gradient_background }}{% else %}{{ section.settings.custom_cards_colors_background }}{% endif %};
    --color-foreground: {{ section.settings.custom_cards_colors_text.red }}, {{ section.settings.custom_cards_colors_text.green }}, {{ section.settings.custom_cards_colors_text.blue }};
  }
{%- endstyle -%}

<div class="multicolumn animate-section animate--hidden color-scheme-{{ section.id }} color-{{ section.settings.color_scheme }} gradient{% if section.settings.title == blank %} no-heading{% endif %} content-for-grouping {{ section.settings.visibility }}" data-mobile-columns="{{ section.settings.columns_mobile }}">
  {% if section.settings.display_id %}
    <copy-button class='section-id-btn button' data-content="#shopify-section-{{ section.id }}" data-success="false">
      <span class="copy-text">Klik om sectie-ID te kopiëren</span>
      <span class="copy-success">ID succesvol gekopieerd!</span>
    </copy-button>
  {% endif %}
  {%- liquid
    assign has_mobile_slider = false
    assign has_desktop_slider = false
    if section.settings.slider_mobile
      assign has_mobile_slider = true
      if section.settings.mobile_dots_position == 'under' or section.settings.mobile_arrows_position == 'under'
        assign has_mobile_controls = true
      endif
    endif
    if section.settings.slider_desktop
      assign has_desktop_slider = true
      if section.settings.desktop_dots_position == 'under' or section.settings.desktop_arrows_position == 'under'
        assign has_desktop_controls = true
      endif
    endif
  
    assign highest_ratio = 0
    for block in section.blocks
      if block.settings.video.aspect_ratio > highest_ratio
        assign highest_ratio = block.settings.video.aspect_ratio
      elsif block.settings.image.aspect_ratio > highest_ratio
        assign highest_ratio = block.settings.image.aspect_ratio
      endif
    endfor
    assign bg_diff_class = ' multicolumn--same-bgs'
    unless section.settings.color_scheme == section.settings.cards_color_scheme
      assign bg_diff_class = ' multicolumn--diff-bgs'
    endunless
    if section.settings.color_scheme == 'custom' and section.settings.cards_color_scheme == 'custom'
      unless section.settings.custom_colors_background == section.settings.custom_cards_colors_background
        assign bg_diff_class = ' multicolumn--diff-bgs'
      endunless
    endif
  -%}
  <div class="page-width{% if section.settings.desktop_full_page %} desktop-full-page{% endif %}{% if has_mobile_slider %} mobile-full-page{% endif %} section-{{ section.id }}-padding isolate" style="--columns-desktop: {{ section.settings.columns_desktop }};--columns-mobile: {{ section.settings.columns_mobile }};--gap-desktop:{{ section.settings.desktop_spacing }}px;--gap-mobile:{{ section.settings.mobile_spacing }}px;">
    {% assign content_index = 0 %}
    {%- unless section.settings.title == blank -%}
      {% assign content_index = 1 %}
      <div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin animate-item animate-item--child index-0">
        <h2 class="title {{ section.settings.heading_size }} title-with-highlight" style='--hightlight-color:{{ section.settings.title_highlight_color }}'>
          {{ section.settings.title  }}
        </h2>
        {%- if section.settings.button_label != blank -%}
          <a href="{{ section.settings.button_link }}" class="link underlined-link{% unless has_mobile_controls %} mobile-hidden{% endunless %}{% unless has_desktop_controls %} desktop-hidden{% endunless %}">
            {{- section.settings.button_label | escape -}}
          </a>
        {%- endif -%}
      </div>
    {%- endunless -%}
    {% if has_mobile_slider or has_desktop_slider %}
      <splide-component
        data-type='{{ section.settings.type }}'
        data-autoplay='{{ section.settings.autoplay }}'
        data-autoplay-speed='{{ section.settings.autoplay_speed }}'
        data-arrows-color="{{ section.settings.arrows_color_scheme }}"
        data-dots-color="{{ section.settings.dots_color_scheme }}"
        data-slides-desktop="{{ section.settings.columns_desktop }}"
        data-per-move-desktop='{{ section.settings.per_move_desktop }}'
        data-gap-desktop='{{ section.settings.desktop_spacing }}'
        data-side-padding-desktop='{{ section.settings.desktop_side_padding }}'
        data-padding-calc-desktop='{{ section.settings.desktop_padding_calc }}'
        data-slides-mobile="{{ section.settings.columns_mobile }}"
        data-gap-mobile='15'
        {% if section.settings.enable_mobile_preview %}
          data-side-padding-mobile='24'
        {% else %}
          data-side-padding-mobile='15'
        {% endif %}
        {% if has_desktop_slider == false %}
          data-destroy-desktop="true"
        {% elsif has_mobile_slider == false %}
          data-destroy-mobile="true"
        {% endif %}
        data-pause-videos='true'
      >
    {% endif %}
      <div 
        class='splide splide--desktop-dots-{{ section.settings.desktop_dots_position }} splide--mobile-dots-{{ section.settings.mobile_dots_position }} splide--desktop-arrows-{{ section.settings.desktop_arrows_position }} splide--desktop-arrows-outside splide--mobile-arrows-{{ section.settings.mobile_arrows_position }}{% if section.settings.transparent_arrows %} splide--transparent-arrows{% endif %}{% if section.settings.vertical-alignment == 'center' %} splide--vertically-centered{% endif %}{% if has_desktop_slider == false %} splide--destroy-desktop{% endif %}{% if has_mobile_slider == false %} splide--destroy-mobile{% endif %}' 
        {% if section.settings.desktop_adaptive_height and section.settings.slides_desktop == 1 and has_desktop_slider %}
          data-desktop-adaptive-height="true"
        {% endif %}
        {% if section.settings.mobile_adaptive_height and has_mobile_slider %}
          data-mobile-adaptive-height="true"
        {% endif %}
      >
        <div class="splide__track">
          <ul class="splide__list">
            {%- for block in section.blocks -%}
              {%- assign empty_content = '' -%}
              {%- if block.settings.title == blank
                and block.settings.text == blank
                and block.settings.link_label == blank
              -%}
                {%- assign empty_content = ' hidden' -%}
              {%- endif -%}
              <li class="splide__slide">
                <div class="splide__slide__container" style="--index:{{ forloop.index0 | plus: content_index }};" {{ block.shopify_attributes }}>
                  <div class="multicolumn-card content-container color-{{ section.settings.cards_color_scheme }} cards-color-scheme-{{ section.id }} gradient{{ bg_diff_class }}{% if section.settings.column_alignment == 'center' %} center{% endif %} animate-item animate-item--child">
                    {%- if block.settings.image != blank or block.settings.video != blank -%}
                      {% if section.settings.image_ratio == 'adapt' or section.settings.image_ratio == 'circle' %}
                        {% assign spaced_image = true %}
                      {% endif %}
                      <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--{{ section.settings.image_width }}-width{% if section.settings.image_width != 'full' or spaced_image %} multicolumn-card-spacing{% endif %}">
                        <div
                          class="media media--transparent media--{{ section.settings.image_ratio }}"
                          {% if section.settings.image_ratio == 'adapt' %}
                            style="padding-bottom: {{ 1 | divided_by: highest_ratio | times: 100 }}%;"
                          {% endif %}
                        >
                          {% if block.settings.video == blank %}
                            {%- capture sizes -%}
                              (min-width: 990px) {% if section.blocks.size <= 2 %}710px{% else %}550px{% endif %}, (min-width:
                              750px) {% if section.blocks.size == 1 %}710px{% else %}550px{% endif %}, calc(100vw - 30px)
                            {%- endcapture -%}
                            {{
                              block.settings.image
                              | image_url: width: 1420
                              | image_tag:
                                loading: 'lazy',
                                sizes: sizes,
                                widths: '275, 550, 710, 1420',
                                class: 'multicolumn-card__image'
                            }}
                          {% else %}
                            {% liquid
                              assign action_on_inactive = "none"
                              if block.settings.muted_autoplay == false
                                assign action_on_inactive = "pause"
                              endif
                            %}
                            <internal-video class="internal-video" data-autoplay="{{ block.settings.muted_autoplay }}" data-action-on-inactive='{{ action_on_inactive }}'>
                              {% liquid
                                if block.settings.video_thumbnail != blank
                                  assign thumbnail = block.settings.video_thumbnail
                                else
                                  assign thumbnail = block.settings.video.preview_image
                                endif
                              %}
                              <video 
                                width="100%" 
                                height="auto" 
                                preload='metadata'
                                poster="{{ thumbnail | image_url }}"
                                {% if block.settings.muted_autoplay %}
                                  muted autoplay loop
                                {% endif %}
                                playsinline disablepictureinpicture
                              >
                                {% for source in block.settings.video.sources %}
                                  <source 
                                    {% if block.settings.muted_autoplay %}data-{% endif %}src="{{ source.url }}" 
                                    type="{{ source.mime_type }}"
                                  >
                                {% endfor %}
                              </video>
                              {% unless block.settings.muted_autoplay %}
                                <button class="internal-video__play">
                                  <div class="play-button color-accent-1">
                                    {%- render 'icon-play' -%}
                                  </div>
                                </button>
                                <div class='internal-video__timeline'>&nbsp</div>
                              {% endunless %}
                            </internal-video>
                          {% endif %}
                        </div>
                      </div>
                    {%- endif -%}
                    <div class="multicolumn-card__info{{ empty_content }}">
                      {%- if block.settings.title != blank -%}
                        <h3>{{ block.settings.title }}</h3>
                      {%- endif -%}
                      {%- if block.settings.text != blank -%}
                        <div class="rte">{{ block.settings.text }}</div>
                      {%- endif -%}
                      {%- if block.settings.link_label != blank -%}
                        <a
                          class="link animate-arrow"
                          {% if block.settings.link == blank %}
                            role="link" aria-disabled="true"
                          {% else %}
                            href="{{ block.settings.link }}"
                          {% endif %}
                        >
                          {{- block.settings.link_label | escape -}}
                          <span class="icon-wrap">&nbsp;{% render 'icon-arrow' %}</span></a
                        >
                      {%- endif -%}
                    </div>
                  </div>
                </div>
              </li>
            {%- endfor -%}
          </ul>
        </div>
        <div class='splide__dots-and-arrows'>
          <ul class="splide__pagination"></ul>
          <div class="splide__arrows"></div>
        </div>
      </div>
    {% if has_mobile_slider or has_desktop_slider %}
      </splide-component>
    {% endif %}
    <div class="center{% if has_mobile_controls %} mobile-hidden{% endif %}{% if has_desktop_controls %} desktop-hidden{% endif %} animate-item animate-item--child index-{{ content_index | plus: 1 }}">
      {%- if section.settings.button_label != blank -%}
        <a
          class="button button--primary"
          {% if section.settings.button_link == blank %}
            role="link" aria-disabled="true"
          {% else %}
            href="{{ section.settings.button_link }}"
          {% endif %}
        >
          {{ section.settings.button_label | escape }}
        </a>
      {%- endif -%}
      {%- if section.settings.atc_button_label != blank -%}
        {% if section.settings.atc_product == blank %}
          <button
            id="SectionAtcBtn-{{ section.id }}"
            type="button"
            class="button main-product-atc button--has-spinner"
            {% if product.selected_or_first_available_variant.available == false or quantity_rule_soldout %}
              disabled
            {% endif %}
          >
            {{ section.settings.atc_button_label | escape }}
            <div class="loading-overlay__spinner">
              <svg
                aria-hidden="true"
                focusable="false"
                class="spinner"
                viewBox="0 0 66 66"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
          </button>
        {% else %}
          {% assign product_form_id = 'section-product-form-'
            | append: section.id
          %}
          {% render 'separate-atc-btn',
            product: section.settings.atc_product,
            product_form_id: product_form_id,
            label: section.settings.atc_button_label,
            skip_cart: section.settings.atc_skip_cart
          %}
        {% endif %}
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.multicolumn.name",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "display_id",
      "label": "Sectie-ID weergeven",
      "info": "ID wordt gebruikt in de sectiegroep om 2 secties samen te voegen. ID kan ook in elke knoplink worden geplaatst en de knop zal naar deze sectie scrollen.",
      "default": false
    },
    {
      "type": "select",
      "id": "visibility",
      "options": [
        {
          "value": "desktop-hidden",
          "label": "Alleen mobiel"
        },
        {
          "value": "mobile-hidden",
          "label": "Alleen desktop"
        },
        {
          "value": "always-display",
          "label": "Alle apparaten"
        }
      ],
      "label": "Weergeven op",
      "default": "always-display"
    },
    {
      "type": "header",
      "content": "Algemeen"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Multicolumn",
      "label": "Koptekst",
      "info": "Vet bepaalde woorden om ze te markeren met een andere kleur."
    },
    {
      "type": "color",
      "id": "title_highlight_color",
      "label": "Koptekst markeerkleur",
      "default": "#6D388B"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "Klein"
        },
        {
          "value": "h1",
          "label": "Middel"
        },
        {
          "value": "h0",
          "label": "Groot"
        }
      ],
      "default": "h1",
      "label": "Koptekst grootte"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.multicolumn.settings.button_label.label",
      "info": "Zichtbaar naast de titel wanneer schuifregelaarbesturingen onder de schuifregelaar staan."
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.multicolumn.settings.button_link.label"
    },
    {
      "type": "text",
      "id": "atc_button_label",
      "label": "Toevoegen aan winkelwagen knoplabel",
      "info": "Zichtbaar naast de titel wanneer schuifregelaarbesturingen onder de schuifregelaar staan."
    },
    {
      "type": "product",
      "id": "atc_product",
      "label": "ATC Aangepast product",
      "info": "BELANGRIJK: Als leeg, voegt de knop het hoofdproduct VAN DE PRODUCTPAGINA toe aan de winkelwagen (INCLUSIEF de geselecteerde variant/hoeveelheid, upsells etc.)"
    },
    {
      "type": "checkbox",
      "id": "atc_skip_cart",
      "label": "ATC Aangepast product winkelwagen overslaan"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        },
        {
          "value": "background-1",
          "label": "Achtergrond 1"
        },
        {
          "value": "background-2",
          "label": "Achtergrond 2"
        },
        {
          "value": "inverse",
          "label": "Omgekeerd"
        },
        {
          "value": "custom",
          "label": "Aangepast"
        }
      ],
      "default": "background-1",
      "label": "Kleurschema",
      "info": "Aangepast kleurschema wordt onderaan de sectie-instellingen bewerkt."
    },
    {
      "type": "header",
      "content": "Kolommen"
    },
    {
      "type": "select",
      "id": "image_width",
      "options": [
        {
          "value": "third",
          "label": "Eenderde breedte van kolom"
        },
        {
          "value": "half",
          "label": "Halve breedte van kolom"
        },
        {
          "value": "full",
          "label": "Volledige breedte van kolom"
        }
      ],
      "default": "full",
      "label": "Media breedte"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "Aanpassen aan media"
        },
        {
          "value": "portrait",
          "label": "Portret"
        },
        {
          "value": "square",
          "label": "Vierkant"
        },
        {
          "value": "circle",
          "label": "Cirkel"
        }
      ],
      "default": "square",
      "label": "Media verhouding"
    },
    {
      "type": "select",
      "id": "column_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.multicolumn.settings.column_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.multicolumn.settings.column_alignment.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.multicolumn.settings.column_alignment.label"
    },
    {
      "type": "select",
      "id": "cards_color_scheme",
      "options": [
        {
          "value": "bg-overlay",
          "label": "Lichte overlay"
        },
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        },
        {
          "value": "background-1",
          "label": "Achtergrond 1"
        },
        {
          "value": "background-2",
          "label": "Achtergrond 2"
        },
        {
          "value": "inverse",
          "label": "Omgekeerd"
        },
        {
          "value": "custom",
          "label": "Aangepast"
        }
      ],
      "default": "bg-overlay",
      "label": "Kaarten kleurschema",
      "info": "Aangepast kleurschema wordt onderaan de sectie-instellingen bewerkt."
    },
    {
      "type": "header",
      "content": "Schuifregelaar"
    },
    {
      "type": "paragraph",
      "content": "LET OP: ALLEEN in de thema-editor kunnen pagineringstipjes zich dupliceren na het wijzigen van sectie-instellingen. Om dit te verhelpen, klik gewoon op Opslaan. Dit heeft GEEN EFFECT op de gepubliceerde website."
    },
    {
      "type": "select",
      "id": "type",
      "options": [
        {
          "value": "slide",
          "label": "Klassiek"
        },
        {
          "value": "loop",
          "label": "Oneindig"
        }
      ],
      "default": "slide",
      "label": "Type"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Autoplay inschakelen",
      "default": false
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "min": 1,
      "max": 15,
      "step": 0.5,
      "default": 5,
      "unit": "sec",
      "label": "Autoplay snelheid"
    },
    {
      "type": "select",
      "id": "arrows_color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        },
        {
          "value": "background-1",
          "label": "Achtergrond 1"
        },
        {
          "value": "background-2",
          "label": "Achtergrond 2"
        },
        {
          "value": "inverse",
          "label": "Omgekeerd"
        }
      ],
      "default": "inverse",
      "label": "Pijlen kleurschema"
    },
    {
      "type": "checkbox",
      "id": "transparent_arrows",
      "label": "Transparante pijlen",
      "default": true
    },
    {
      "type": "select",
      "id": "dots_color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        },
        {
          "value": "background-1",
          "label": "Achtergrond 1"
        },
        {
          "value": "background-2",
          "label": "Achtergrond 2"
        },
        {
          "value": "inverse",
          "label": "Tekst"
        }
      ],
      "default": "inverse",
      "label": "Punten kleurschema"
    },
    {
      "type": "header",
      "content": "Desktop"
    },
    {
      "type": "checkbox",
      "id": "desktop_full_page",
      "label": "Volledige paginabreedte",
      "default": false
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 3,
      "label": "Kolommen desktop"
    },
    {
      "type": "checkbox",
      "id": "slider_desktop",
      "label": "Desktop schuifregelaar inschakelen",
      "default": false,
      "info": "De onderstaande instellingen worden toegepast als deze optie is aangevinkt"
    },
    {
      "type": "range",
      "id": "per_move_desktop",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 1,
      "label": "Dia's om te scrollen in één beweging"
    },
    {
      "type": "range",
      "id": "desktop_spacing",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Afstand",
      "default": 40
    },
    {
      "type": "range",
      "id": "desktop_side_padding",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "Voorvertoning van vorige & volgende dia",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "desktop_padding_calc",
      "label": "Lege voorvertoning uitschakelen op eerste & laatste dia",
      "default": true,
      "info": "Verplaatst de eerste dia naar de linkerrand en de laatste naar rechts als Voorvertoningswaarde is ingeschakeld. Zichtbaar als type is ingesteld op Schuifregelaar."
    },
    {
      "type": "checkbox",
      "id": "desktop_adaptive_height",
      "label": "Aanpasbare hoogte",
      "default": false,
      "info": "Alleen beschikbaar als Dia's per pagina is ingesteld op 1."
    },
    {
      "type": "select",
      "id": "desktop_dots_position",
      "options": [
        {
          "value": "hidden",
          "label": "Verborgen"
        },
        {
          "value": "under",
          "label": "Onder de schuifregelaar"
        }
      ],
      "default": "under",
      "label": "Punten positie"
    },
    {
      "type": "select",
      "id": "desktop_arrows_position",
      "options": [
        {
          "value": "hidden",
          "label": "Verborgen"
        },
        {
          "value": "under",
          "label": "Onder de schuifregelaar"
        },
        {
          "value": "sides",
          "label": "Aan de zijkanten van de schuifregelaar"
        }
      ],
      "default": "sides",
      "label": "Pijlen positie"
    },
    {
      "type": "header",
      "content": "Mobiel"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.multicolumn.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.multicolumn.settings.columns_mobile.options__2.label"
        }
      ],
      "default": "1",
      "label": "t:sections.multicolumn.settings.columns_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "slider_mobile",
      "label": "Mobiele schuifregelaar inschakelen",
      "default": true,
      "info": "De onderstaande instellingen worden toegepast als deze optie is aangevinkt"
    },
    {
      "type": "checkbox",
      "id": "enable_mobile_preview",
      "label": "Voorvertoning van vorige & volgende dia's",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "mobile_adaptive_height",
      "label": "Aanpasbare hoogte",
      "default": false
    },
    {
      "type": "select",
      "id": "mobile_dots_position",
      "options": [
        {
          "value": "hidden",
          "label": "Verborgen"
        },
        {
          "value": "under",
          "label": "Onder de schuifregelaar"
        }
      ],
      "default": "under",
      "label": "Punten positie"
    },
    {
      "type": "select",
      "id": "mobile_arrows_position",
      "options": [
        {
          "value": "hidden",
          "label": "Verborgen"
        },
        {
          "value": "under",
          "label": "Onder de schuifregelaar"
        },
        {
          "value": "sides",
          "label": "Aan de zijkanten van de schuifregelaar"
        }
      ],
      "default": "under",
      "label": "Pijlen positie"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "header",
      "content": "Aangepast kleurschema",
      "info": "Toegepast als de instelling Kleurschema is ingesteld op Aangepast."
    },
    {
      "type": "color",
      "id": "custom_colors_background",
      "default": "#FFFFFF",
      "label": "Achtergrondkleur"
    },
    {
      "type": "color_background",
      "id": "custom_gradient_background",
      "label": "Gradiënt achtergrond",
      "info": "Indien toegevoegd, vervangt de achtergrondkleur waar van toepassing."
    },
    {
      "type": "color",
      "id": "custom_colors_text",
      "default": "#2E2A39",
      "label": "Tekst"
    },
    {
      "type": "color",
      "id": "custom_colors_solid_button_background",
      "default": "#dd1d1d",
      "label": "Achtergrond van vaste knop"
    },
    {
      "type": "color",
      "id": "custom_colors_solid_button_text",
      "default": "#ffffff",
      "label": "Label van vaste knop"
    },
    {
      "type": "color",
      "id": "custom_colors_outline_button",
      "default": "#dd1d1d",
      "label": "Omlijning van knop"
    },
    {
      "type": "header",
      "content": "Aangepast kaarten kleurschema",
      "info": "Toegepast als de instelling Kaarten kleurschema is ingesteld op Aangepast."
    },
    {
      "type": "color",
      "id": "custom_cards_colors_background",
      "default": "#F3F3F3",
      "label": "Achtergrondkleur"
    },
    {
      "type": "color_background",
      "id": "custom_cards_gradient_background",
      "label": "Gradiënt achtergrond",
      "info": "Indien toegevoegd, vervangt de achtergrondkleur waar van toepassing."
    },
    {
      "type": "color",
      "id": "custom_cards_colors_text",
      "default": "#2E2A39",
      "label": "Tekst"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "t:sections.multicolumn.blocks.column.name",
      "settings": [
        {
          "type": "header",
          "content": "Media",
          "info": "OPMERKING: Media is alleen beschikbaar als Stijl is ingesteld op Kaarten"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Afbeelding"
        },
        {
          "type": "header",
          "content": "of"
        },
        {
          "type": "video",
          "id": "video",
          "label": "Video"
        },
        {
          "type": "image_picker",
          "id": "video_thumbnail",
          "label": "Video thumbnail",
          "info": "If empty, the first frame of the video will be displayed."
        },
        {
          "type": "checkbox",
          "id": "muted_autoplay",
          "label": "Muted autoplay",
          "default": true,
          "info": "Use this instead of GIFs & animated WEBPs."
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Column",
          "label": "t:sections.multicolumn.blocks.column.settings.title.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image/video to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.multicolumn.blocks.column.settings.text.label"
        },
        {
          "type": "text",
          "id": "link_label",
          "label": "t:sections.multicolumn.blocks.column.settings.link_label.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.multicolumn.blocks.column.settings.link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.multicolumn.presets.name",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
